.indexWrapper{
    background-image: url("./Pics/Asa Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.title{
    text-align: center;
}

.funnyScroll{
    padding-top: 7vh;
    display: block;
    position: relative;
    overflow:auto;
    white-space: nowrap;
    animation: infiniteScroll 8s linear infinite;
    width: max-content;
}

.funnyScroll img{
    height: 25vh;
    width: auto;
}

.rainbowBackground{
    height: 40vh;
    width: 105%;
    margin-left: -2%;
    position: relative;
    animation: rainbow 5s linear infinite;
}

.yap {
    background: rgba(0, 0, 0, 0.3);
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 5vmin;
    color:white;
}

.yap h1{
    font-size: 3.5vmin;
    display: inline;
}

.yap h2{
    font-size: 2.5vmin;
    margin-left: 3vw;
        display: inline;
}

.yap p{
    font-size: 2.3vmin;
    margin-bottom: 10vh;
}

@keyframes infiniteScroll {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
}

@keyframes rainbow {
    0%{
        background-color: red;
    }
    15%{
        background-color: orange;
    }
    30%{
        background-color: yellow;
    }
    45%{
        background-color: green;
    }
    60%{
        background-color: blue;
    }
    75%{
        background-color: purple;
    }

    100%{
        background-color: red;
    }
}